<!-- base.php  -->
<html>
    <head>
        <title>DWES TAREA 5</title>
		<style>
			.cabecera {
				height:160px;
				background: url("{{ asset('imagenes/banner.png') }}") no-repeat #7968BB;
			}
            footer {
                background-color: black;
                color: white;
            }

            section {
                background-color: #d1d1d1;
            }
            nav a {
                text-decoration: none;
            }
            nav a:link {
                color: black;
            }

            nav a:hover {
                font-style: oblique;
            }

		</style>
    </head>

    <body>
		<div class="cabecera">
        </div>
        <nav>
            <a href="https://tarea5-dwes.herokuapp.com{{ path('index') }}">Inicio</a>
            <a href="https://tarea5-dwes.herokuapp.com{{ path('sugerencias') }}">Sugerencias</a>
            <a href="https://tarea5-dwes.herokuapp.com{{ path('registro') }}">Registro</a>
        </nav>
		<section>
		<div>
        {% block content %}{% endblock %}
        </div>
		</section>
        <footer>
			Manuel Gallardo Fuentes - 54285506D
        </footer>
    </body>
</html>
