{% extends "base.twig" %}

{% block content %}		
			<!-- Mostramos una lista de los artículos-->
			Detalles artículo: {{articulo.id}}
				<img width="400" height="400" src="{{ asset('imagenes') }}/{{articulo.imagen}}" />
				<h2>{{articulo.titulo}}</h2>
{% endblock %}	